jupyterlab==3.2.4
numpy==1.20.3
pandas==1.2.3
matplotlib==3.4.1
note_seq==0.0.3
pretty_midi==0.2.9
sc-kernel==0.3.2
notebook==6.4.6
pre-commit==2.12.1
python-osc==1.7.6
tensorflow==2.7.0
music21==7.1.0
pydot==1.4.2
graphviz==0.19.1
python-osc==1.7.6
